h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
}

/********************* Shopping Demo-4 **********************/
.product-grid, .product-grid .product-image4 {
    position: relative
}

.product-grid {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid .product-image4 a {
    display: block
}

.product-grid .product-image4 img {
    width: 100%;
    height: min-content
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid:hover .pic-1 {
    opacity: 0
}

.product-grid .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid:hover .pic-2 {
    opacity: 1
}

.product-grid .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s
}

.product-grid .social li {
    display: inline-block;
    opacity: 0;
    transition: all .7s
}

.product-grid .social li:nth-child(1) {
    transition-delay: .15s
}

.product-grid .social li:nth-child(2) {
    transition-delay: .3s
}

.product-grid .social li:nth-child(3) {
    transition-delay: .45s
}

.product-grid:hover .social li {
    opacity: 1
}

.product-grid .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s
}

.product-grid .social li a:hover {
    color: #fff;
    background: #16a085
}

.product-grid .social li a:after, .product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
    opacity: 1
}

.product-grid .product-discount-label, .product-grid .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 41px;
    height: 36px;
    width: 40px;
    /*border-radius: 50%;*/
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s
}

.product-grid .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #1d2124
}

.product-grid:hover .product-new-label {
    opacity: 0
}

.product-grid .product-content {
    padding: 25px
}

.product-grid .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-grid .title a {
    color: #222
}

.product-grid .title a:hover {
    color: #16a085
}

.product-grid .price {
    color: black;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid:hover .add-to-cart {
    border: 1px solid transparent;
    /*background: #16a085;*/
    color: #fff
}

.product-grid .add-to-cart:hover {
    /*background-color: #505050;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px
    }
}

.sizeslist {
    list-style: none;
}

.sizeslist li {

    float: left;
    background: #e6e6e6;
    margin: 5px;
    border-radius: 100%;
    text-align: center;
    width: auto;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.orderby span {

    float: left;
    width: auto;
    vertical-align: middle;
    margin-right: 15px;
}

.container {
    margin-top: 40px;
}

.orderby select {
    float: left;
    width: auto;
    vertical-align: middle;
}

.products-count {
    margin-bottom: 20px;
}

.cart {
    background: #2d2d2d;
    color: #FFF;
    float: left;
    height: 50px;
    position: relative;
}

.cart img {
    width: 35px;
}

.cart-count {
    background: #ffe200;
    color: #000;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    /*display: inline-block;*/
    /*padding-left: 0px;*/
    float: right;
    margin-top: -13px;
}

.add-to-cart-div {
    background: #2d2d2d;
    display: inline-block;
    width: 450px;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 999;
    padding: 25px;
}

.cartselect-img {
    float: left;
    margin-right: 10px;
    width: 10%;
}

.cart-productdetails {
    display: inline-block;
    width: 60%;
}

.cart-productdetails span {
    display: inline-block;
    width: 100%;
}

/*.cart-price {*/

/*    float: right;*/
/*    margin: 22px;*/
/*}*/
.cart-close {

    float: right;
    margin: -16px;
    margin-right: -80px;
}

.cart-close img {

    width: 15px;
    color: black;
    background: rgba(206, 212, 218, 0.3);
    right: 0;
}

.subtotal {
    padding: 0 15px;
    margin: 45px 0;
}

.chck-btn button {
    width: 100%;
    background: #000;
    color: #FFF;
    border: 0;
    padding: 15px;
}

.subprice {
    width: 100%;
    display: block;
    color: #d39e00;
    font-weight: bold;
    font-size: 18px;
}

.subSpace {

    padding-left: 37px;
}

.addButton {
    background-color: #212529;
    color : whitesmoke;
    width: 99px;
    height: 53px;
}

.productCost{
    float: right;
    margin: -16px;
    margin-right: -80px;
    margin-bottom: 27px;
    color: #d39e00;
}

.closeImg{

    /*width: 15px;*/
    color: black;
    background: rgba(206, 212, 218, 0.3);
}

