<!DOCTYPE html>
<html>
<head>
    <title>TshirtsStore</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/defaultValues.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="services/api/apiShirtsData.js"></script>
</head>

<body ng-app="App" ng-controller="AppCtrl">
<h1 align="center"> Tshirts Store</h1>
<div class="container" >

    <div class="row">
        <div class="col-md-3 sizesdiv">
            <h2>sizes:</h2>
            <ul class="sizeslist">
                <li id={{item.id}} ng-click="applyFilter(item)" ng-repeat="item in allFilters">{{item.size}}</li>
            </ul>
        </div>

        <div class="col-md-8">

            <div class="row products-count">
                <div class="col-md-8">
                    <span>{{filterResults.length}}</span> Product(s)<span ng-if = "filterResults.length > 1"></span> found.
                </div>

                <div class="col-md-4 orderby">
                    <span>Order by</span>

                    <select class="form-control" id="exampleFormControlSelect1" ng-model="shirtCost"
                            ng-change="applyOrderby()">
                        <option value="" selected disabled hidden>Select</option>
                        <option value="cost">low to high</option>
                        <option value="-cost">high to low</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-if = "filterResults.length < 1">Soory..No items found with selected size, please visit again</div>

            <div class="row" >

                <div class="col-md-3 col-sm-6"
                     ng-repeat="shirt in filterResults = (tShirts | myFilter: tFilterList) | orderBy : property ">

                    <div class="product-grid">
                        <div class="product-image4" id = {{shirt.id}}>
                            <a href={{shirt.url}} class = "example-image-link" data-lightbox="example-set" id = {{shirt.id}}>
                                <img src={{shirt.url}} class = "example-image" >
                            </a>
                        </div>

                        <div class="product-content">
                            <h3 class="title">
                                <a href="#">{{shirt.name}}</a>
                            </h3>

                            <div class="price"> ₹ {{shirt.cost}}</div>
                            <button class = "addButton" ng-click="addToCart(shirt)"> Add to cart </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 cart" ng-click = "showPopUp()">

            <span ng-click = "closePopUP()">
                <img src = "assets/images/closed.png" class = "closeImg" style="width:15px;" ng-show="cartPopUpshow">
            </span>

            <span>
                <img src="assets/images/shopping-cart.svg">
            </span>

            <div class = "cart-count">{{cartItemsCount}}</div>

            <div class="add-to-cart-div" ng-show="cartPopUpshow">

                <div class="select-item" ng-if ="cartItemsCount <= 0" >  No items in Cart</div>
                <div class="select-item" ng-if ="cartItemsCount > 0" ng-repeat="product in cart">

                    <div class="cartselect-img">
                        <img src={{product.url}}>
                    </div>

                    <div class="cart-productdetails">
                        <span>{{product.name}}</span>
                        <div class = "cart-close" ng-click = "deleteItemFromCart(product)">
                            <img src = "assets/images/closed.png">
                        </div>
                        <div>
                            <span>{{product.size}} | Quantity : 1 </span>
                        </div>
                        <div class = "productCost"> ₹ {{product.cost}}</div>
                    </div>
                </div>

                <div class="row subtotal " ng-if ="cartItemsCount > 0">
                    <div class="col-md-8"> SUBTOTAL</div>

                    <div class="col-md-4 subprice">
                        <span class="subSpace">₹ {{totalAmount}}</span>
                    </div>
                </div>

                <div class="row chck-btn" ng-if ="cartItemsCount > 0">
                    <button>checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>